node_modules
dist
.env
.env.*
!.env.example
.git
.github
.vscode
*.test.ts
*.spec.ts
test
coverage
.drizzle
drizzle.config.ts
tsconfig.json
!tsconfig.build.json
eslint.config.mts
.prettierrc*
README.md
